body {
    margin: 60px auto;
    width: 70%;
}
nav ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 1px;
    list-style: none;
    font-weight: bold;
    font-size: 1.5em;
    color: #00cca3;
    background-color: #333;
    padding: 15px 15px;
}
footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 1px;
    list-style: none;
    font-weight: bold;
    font-size: 1.5em;
    color: #00cca3;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}
footer ul li{
   display: inline;
    margin-right: 20px; 
}
a {
    text-decoration: none;
    color: #00cca3;
}
a:hover {
    text-decoration: underline;
}
.active {
  background-color: red;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: #00cca3
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #FFFFFF;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: 1em;
    color: #0000ff
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
img {
  float: right;
  border-radius: 50%;
}
