<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body background ="/img/web.jpg">
			<nav>
	    		<ul>
	        		<li><a href="/" >Home</a></li>
		        	<li><a href="/about" >About</a></li>
	        		<li><a href="/cv" >CV</a></li>
	        		<li><a href="/blog" >Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<!--<li><a href="mailto:remp.bhusal@gmail.com">email</a></li>
	        		<li><a href="https://github.com/prembhusal">github.com/prembhusal</a></li> -->
				<div>
				<a href="[full link to your Twitter]">
				<img title="Twitter" alt="Twitter" src="/icon/iconmonstr-twitter-4.svg" class="social-icon" />
				</a>
				<a href="[full link to your Pinterest]">
				<img title="Pinterest" alt="Pinterest" src="/icon/iconmonstr-github-4.svg" class="social-icon" />
				</a>
				<a href="[full link to your Facebook page]">
				<img title="Facebook" alt="Facebook" src="/icon/iconmonstr-facebook-4.svg" class="social-icon" />
				</a>
				<a href="[full link to your LinkedIn]">
				<img title="LinkedIn" alt="LinkedIn" src="/icon/iconmonstr-linkedin-4.svg" class="social-icon" />
				</a>
				<a href="[full link to your Instagram]">
				<img title="Instagram" alt="RSS" src="/icon/iconmonstr-instagram-4.svg" class="social-icon" />
				</a>
				</div>
				
				</ul>
			</footer>
		</body>
	</html>
